* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

.board {
	margin: 0 auto;
	width: 400px;
	height: 400px;

	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.square {
	border: 2px solid cadetblue;
	font-size: 5rem;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(58, 58, 58);
}
.button {
	margin: 0 auto;
	width: 100px;
	padding: 0.6rem;
	border: none;
	border-radius: 10px;
	background-color: cadetblue;
	color: white;
	font-weight: bold;
	transition: 0.2s;
}
.reset {
	margin: 0 auto;
	width: 159px;
	padding: 0.6rem;
	border: none;
	border-radius: 10px;
	background-color: cadetblue;
	color: white;
	font-weight: bold;
}

.button:hover {
	background-color: slategray;
	box-shadow: 0px 0px 10px;
}

.scoreboard {
	text-align: center;
	margin: 10px;
	color: rgb(99, 99, 99);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
